*/

# add project directories to include here
!/packages/franklin-thor
!/packages/franklin-thor-fti
!/packages/franklin-thor-icons
!/stories/
!/themes/
!/.storybook
!/page/
!lerna.json
!.npmrc
!/scripts/copy-files.js
!CHANGELOG.md
!LICENSE
!babel.config.js
!package.json
!nginx.conf

# exclude these even in the included project directories
node_modules
packages/*/node_modules
services/*/node_modules
.git
