// test

$common-black: "#000";
$common-white: "#fff";

$type: "light";

$primary-light: "#7986cb";
$primary-main: "#3f51b5";
$primary-dark: "#303f9f";
$primary-contrastText: "#fff";

$secondary-light: "#ff4081";
$secondary-main: "#f50057";
$secondary-dark: darken(#FF6600, 20%) //"#ff6600";
$secondary-contrastText: "#fff";

$error-light: "#e57373";
$error-main: "#f44336";
$error-dark: "#d32f2f";
$error-contrastText: "#fff";

$grey-50: "#fafafa";
$grey-100: "#f5f5f5";
$grey-200: "#eeeeee";
$grey-300: "#e0e0e0";
$grey-400: "#bdbdbd";
$grey-500: "#9e9e9e";
$grey-600: "#757575";
$grey-700: "#616161";
$grey-800: "#424242";
$grey-900: "#212121";
$grey-A100: "#d5d5d5";
$grey-A200: "#aaaaaa";
$grey-A400: "#303030";
$grey-A700: "#616161";

$grey-contrastThreshold: 3;
$grey-getContrastText: function O();
$grey-augmentColor: function P();
$grey-tonalOffset: 0.2;

$text-primary: "rgba(0, 0, 0, 0.87)";
$text-secondary: "rgba(0, 0, 0, 0.54)";
$text-disabled: "rgba(0, 0, 0, 0.38)";
$text-hint: "rgba(0, 0, 0, 0.38)";

$divider: "rgba(0, 0, 0, 0.12)";

$background-paper: "#fff";
$background-default: "#fafafa";

$action-active: "rgba(0, 0, 0, 0.54)";
$action-hover: "rgba(0, 0, 0, 0.08)";
$action-hoverOpacity: 0.08;
$action-selected: "rgba(0, 0, 0, 0.14)";
$action-disabled: "rgba(0, 0, 0, 0.26)";
$action-disabledBackground: "rgba(0, 0, 0, 0.12)";
