
htmlFontSize: 16;
pxToRem: function O();
round: function u();
$fontFamily: "Roboto, Helvetica, Arial, sans-serif";
$fontSize: 14;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$h1-fontFamily: $fontFamily;
$h1-fontWeight: $fontWeightLight;
$h1-fontSize: "6rem"
$h1-lineHeight: 1
$h1-letterSpacing: "-0.01562em"

$h2-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$h2-fontWeight: $fontWeightLight;
$h2-fontSize: "3.75rem"
$h2-lineHeight: 1
$h2-letterSpacing: "-0.00833em"

$h3-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$h3-fontWeight: $fontWeightRegular;
$h3-fontSize: "3rem"
$h3-lineHeight: 1.04
$h3-letterSpacing: "0em"

$h4-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$h4-fontWeight: $fontWeightRegular;
$h4-fontSize: "2.125rem"
$h4-lineHeight: 1.17
$h4-letterSpacing: "0.00735em"

$h5-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$h5-fontWeight: $fontWeightRegular;
$h5-fontSize: "1.5rem"
$h5-lineHeight: 1.33
$h5-letterSpacing: "0em"

$h6-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$h6-fontWeight: $fontWeightMedium;
$h6-fontSize: "1.25rem"
$h6-lineHeight: 1.6
$h6-letterSpacing: "0.0075em"

$subtitle1-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$subtitle1-fontWeight: $fontWeightRegular;
$subtitle1-fontSize: "1rem"
$subtitle1-lineHeight: 1.75
$subtitle1-letterSpacing: "0.00938em"

$subtitle2-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$subtitle2-fontWeight: $fontWeightMedium;
$subtitle2-fontSize: "0.875rem"
$subtitle2-lineHeight: 1.57
$subtitle2-letterSpacing: "0.00714em"

$body1-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$body1-fontWeight: 400
$body1-fontSize: "1rem"
$body1-lineHeight: 1.5
$body1-letterSpacing: "0.00938em"

$body2-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$body2-fontWeight: 400
$body2-fontSize: "0.875rem"
$body2-lineHeight: 1.43
$body2-letterSpacing: "0.01071em"

$button-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$button-fontWeight: $fontWeightMedium;
$button-fontSize: "0.875rem"
$button-lineHeight: 1.75
$button-letterSpacing: "0.02857em"
$button-textTransform: "uppercase"

$caption-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$caption-fontWeight: $fontWeightRegular;
$caption-fontSize: "0.75rem"
$caption-lineHeight: 1.66
$caption-letterSpacing: "0.03333em"

$overline-fontFamily: ""Roboto", "Helvetica", "Arial", sans-serif"
$overline-fontWeight: $fontWeightRegular;
$overline-fontSize: "0.75rem"
$overline-lineHeight: 2.66
$overline-letterSpacing: "0.08333em"
$overline-textTransform: "uppercase"
