
$keys-0: "xs"
$keys-1: "sm"
$keys-2: "md"
$keys-3: "lg"
$keys-4: "xl"

$values-xs: 0
$values-sm: 600
$values-md: 960
$values-lg: 1280
$values-xl: 1920

up: function f()
down: function down()
between: function d()
only: function only()
width: function width()
